body {
  background-color: rgb(210, 245, 233);
  font-family: "Acme", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Sometype Mono", monospace;
}

a {
  color: blueviolet;
}

.weather-app {
  background: white;
  max-width: 700px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 60 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid rgb(210, 245, 233);
  padding: 30px 0;
}

.search-form-input {
  background-color: rgb(254, 255, 214);
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 20px;
  border-color: black;
}

.search-form-button {
  background-color: blueviolet;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}

.weather-app-details strong {
  color: blue;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 88px;
  height: 88px;
  margin-top: 22px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-app-unit {
  margin-top: 20px;
  font-size: 28px;
}

footer {
  border-top: 1px solid rgb(210, 245, 233);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}
